.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.AppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CounterBox {
  margin: 15px;
  padding: 15px 35px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 6px;
  color: aliceblue;
}

.Counter {
  font-size: 35px;
  transition: 0.3s ease transform;
}

.Btn {
  color: rgb(123, 169, 253);
  transition: 0.25s all;
}

.Btn:hover {
  color: rgb(0, 74, 212);
  cursor: pointer;
}
